.spectrum.spectrum--large {
  --system-component-background-color: blue;
  --system-component-section-background-color-selected: darkblue;
  --system-component-icon-color: var(--color-icon, gray);
}

.spectrum--express {
  --system-component-background-color: purple;
  --system-component-section-background-color-selected: darkpurple;
  --system-component-icon-color: white;
}

.component {
  --background-color: var(--system-component-background-color);
}

.component-Section.is-selected {
  --background-color: var(--system-component-section-background-color-selected);
}

.component .icon {
  --color: var(--system-component-icon-color);
}
