@container (--system: spectrum) and (--scale: large) {
  .component {
    --background-color: blue;
  }
  .component-Section.is-selected {
    --background-color: darkblue;
  }
  .component .icon {
    --color: var(--color-icon, gray);
  }
}

@container (--system: express) and (height > 400px) {
  .component {
    --background-color: purple;
  }
  .component-Section.is-selected {
    --background-color: darkpurple;
  }
  .component .icon {
    --color: white;
  }
}
